<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    a {
        text-decoration: none;
    }

    A {
        color: #4d4d4d; /* Цвет ссылок */
    }

    A:visited {
        color: #4d4d4d; /* Цвет посещенных ссылок */
    }

    A:active {
        color: #4d4d4d; /* Цвет активных ссылок */
    }
</style>
<body>
<form action="/web/activation" method="post">
    <div class="container" style="margin-top: 5%">
        <span style="color: red" th:text="${CodeError}"></span>
        <br>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Verification Code</label>
            <div class="col-sm-10">
                <input name="verifyCode" type="text" class="form-control" id="inputUserName3">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
</body>
</html>