<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Title</title>
    <style>
        a {
            text-decoration: none;
        }

        A {
            color: #4d4d4d; /* Цвет ссылок */
        }

        A:visited {
            color: #4d4d4d; /* Цвет посещенных ссылок */
        }

        A:active {
            color: #4d4d4d; /* Цвет активных ссылок */
        }
        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 5%">
    <form action="/web/registrationAction" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <span style="color: red" th:text="${UserAlreadyExist}"></span>
            <br>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="email" type="email" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input  name="userName" type="text" class="form-control" id="inputUserName3">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" id="inputPassword3">
            </div>
        </div>
        <label  class="input-group-text space" for="inputGroupFile02">Загрузите изображение вашего профиля</label>

        <input accept="image/*" type="file" name="file" onchange="loadFile(event)" class="form-control space" id="inputGroupFile02"/>
        <img src="#" id="output"  class="img-thumbnail space border border-primary rounded" alt="Ваше изображение">
        <br>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <script>
                var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                    output.onload = function() {
                        URL.revokeObjectURL(output.src) // free memory
                    }
                };
                function validate(evt) {
                    var theEvent = evt || window.event;
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode( key );
                    var regex = /[0-9]/;
                    if( !regex.test(key) ) {
                        theEvent.returnValue = false;
                        if(theEvent.preventDefault) theEvent.preventDefault();
                    }
                }
            </script>
    </form>
</div>
</body>
</html>